
.wrapper__216eb.guilds__2b93a{
    background-color:black !important;
}
  /* Add more specific selectors as needed to ensure visibility */
nav.container__7e23c{
    background: black !important;
}
.chatContent_f087cb{
    background: black !important;
}
.members__573eb{
    background: black !important;
}
.member_aa4760 {
    background: black !important;
}
.title_d4ba1a{
    background: black !important;
}

.searchBar__5a20a{
    background: #303003 !important;
}
/*for the message boc*/
.scrollableContainer_ff917f{
    background: black !important;
}